*{
    box-sizing: border-box;
    scrollbar-color: #6d34d1 #1e1630;
}

html{
    background-color: #140f1f;
    font-family: Verdana,sans-serif;
    font-size: 30px;
}
body{
    margin: 0 auto;
    background-color: #1e1630;
    width: 85%;
    min-height: 100vh;
    overflow: auto;
    align-content: center;
    position: relative;
    touch-action: manipulation;
}
#strona{
    overflow: auto;
    padding-bottom: 50px;
    position: relative;
    top: 140px;
}
header{
    background-color: #2a1f45;
    font-size: 85px;
    font-weight: 900;
    color: #c6b3ff;
    text-align: center;
    padding: 10px;
    position: fixed;
    height: 120px;
    width: 100%;
    left: 0px;
    z-index: 100;
    top: 0;
}
#logo{
    width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}
#zs10Logo{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 100px;
    cursor: pointer;
}

#gra{
    border: #0d0818 5px solid;
    background-color: #24183d;
    width: 95%;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#hud{
    background-color: #2e2150;
    border-bottom: #0d0818 5px solid;
    padding: 5px;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    font-size: 25px;
}
p#money, p#kns, p#pkns, #mnoznikHUD, #pomocnicy {
    color: #f2ecff;
    font-weight: 600;
    margin: 0;
}

#mnoznikHUD{
    left: 10px;
    position: absolute;
}
#pomocnicy{
    right: 10px;
    position: absolute;
}

#pole{
    background-color: #31235a;
    border-right: #0d0818 5px solid;
    padding: 5px;
    width: 80%;
    height: 539px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    float: left;
    position: relative;
}
#bonusInfo{
    position: absolute;
    top: 0px;
    transition: opacity 550ms;
    opacity: 0;
    font-size: 25px !important;
}
#levelInfo{
    position: absolute;
    bottom: 0px;
}
#bonusInfo, #levelInfo{
    color: #d7c9ff;
    font-weight: bolder;
    font-size: 33px;
    user-select: none;
}
.guzik {
    background-color: #7b3fe4;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 150ms;
    font-weight: 600;
    color: #1c0f33;
    border: #5a2bb5 5px solid;
    user-select: none;
    font-size: 150%;
}

#ulepszenia{
    float: right;
    background-color: #261a44;
    border-left: #0d0818 5px solid;
    padding: 5px;
    width: 20%;
    height: 539px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
}
.ulepszenie{
    width: 100%;
    background-color: #3b2491;
    border: #24145c 4px solid;
    height: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    position: relative;
}
.nazwa{
    font-size: 20px;
    font-weight: 600;
    display: inline;
    color: #d7c9ff;
    margin: 3px;
}
.moc{
    font-size: 15px;
    display: inline;
    color: #d7c9ff;
    margin: 3px;
}
.kup{
    width: 30%;
    height: 30%;
    background-color: #9b5cff;
    border: #6d34d1 2px solid;
    border-radius: 6px;
    font-size: 50%;
    font-weight: bold;
    color: #140a2a;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.cena{
    position: absolute;
    bottom: 26px;
    right: 10px;
    font-size: 18px;
    color: #d7c9ff;
}
#info{
    border: #0d0818 5px solid;
    background-color: #31235a;
    width: 95%;
    min-height: 500px;
    max-height: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 120px;
    color: #e9e3ff;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}
#titleInfo{
    background-color: #2e2150;
    border-bottom: #0d0818 5px solid;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    height: 45px;
}
#tresc{
    padding: 5px 0px 5px 5px;
    width: 50%;
    font-size: 23px;
    overflow-y: auto;
    float: left;
    border-right: #0d0818 5px solid;
}
#legenda{
    padding: 5px 0px 5px 5px;
    width: 50%;
    font-size: 23px;
    overflow-y: auto;
    float: left;
    border-left: #0d0818 5px solid;
}
#legenda h2{
    display: table;
    margin: 0 auto;
    text-decoration: underline;
    font-size: 200%;
}
#legenda p{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
}
#legenda p img{
    float: left;
    width: 80px;
    height: 80px;
}
.pomoc{
    font-size: 25px;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: #2e2150;
    color: #e9e3ff;
    width: 100%;
    border: #0d0818 5px solid;
    left: 0px;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1000;
}
#razem{
    position: absolute;
    right: 10px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}
#wersja{
    position: absolute;
    left: 10px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}
#czasGry{
    margin: 0;
}

#muzyka{
    position: absolute;
    top: 10px;
    left: 110px;
    width: 100px;
    cursor: pointer;
}

#bonus{
    background-color: #7b3fe4;
    border: #5a2bb5 5px solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 600ms;
    font-weight: 600;
    user-select: none;
    position: absolute;
    top: 15px;
    right: 15px;
}
#imgBonus{
    width: 80%;
    -webkit-user-drag: none;
}
/* Cheaty */
#cheaty{
    color: #e9e3ff;
    z-index: 10000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #0d0818ee;
    align-content: center;
    text-align: center;
    position: fixed;
    display: none;
    transition: 2s;
}
#kod, #dodatki{
    padding: 5px;
    background-color: #7b3fe4;
    border: #5a2bb5 5px solid;
    border-radius: 20px;
    max-width: 90%;
    width: 500px;
    height: auto;
    min-height: 350px;
    margin: 0 auto;
    position: relative;
    align-content: center;
}
#wpisz{
    background-color: #a88ff5;
    border: 3px solid #5925ac;
    border-radius: 2px;
    color: #f2ecff;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    width: 80%;
}
#zatwierdz{
    background-color: #7b3fe4;
    border: 3px solid #5925ac;
    border-radius: 5px;
    color: #f2ecff;
    padding: 5px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
}

#zatwierdz:hover{
    background-color: #6a31cc;
    border: 3px solid #50209e;
}

#x{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff260080;
    width: 150px;
    height: 50px;
    align-content: center;
    border: #b81e0380 5px solid;
    border-radius: 5px;
    cursor: pointer;
}

#dodatki{
    padding: 10px;
    background-color: #7b3fe4;
    border: #5a2bb5 5px solid;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.tytul{
    margin: 0;
    margin-bottom: 20px;
    font-size: 26px;
}

#opcje{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 20px;
    justify-content: center;
    width: 100%;
}

#opcje div{
    width: 100px;
    height: 100px;
    background-color: #3b2491;
    border: #24145c 5px solid;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* INTRO */
#intro{
    color: #e9e3ff;
    z-index: 10000;
    background-color: #1e1630;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
#ladowanie {
    position: absolute;
    opacity: 0;
    width: 150px;
    animation: obracanie 3s infinite;
    transform-origin: center;
}
#LadowanieTekst{
    position: absolute;
    display: none;
    bottom: 35%;
    opacity: 0;
}

@keyframes obracanie {
    0%   { transform: rotate(0deg); }
    20%  { transform: rotate(80deg); }
    40%  { transform: rotate(140deg); }
    60%  { transform: rotate(240deg); }
    80%  { transform: rotate(300deg); }
    100% { transform: rotate(360deg); }
}

#IntroTlo, #IntroNapis{
    transition: 150ms;
    opacity: 0;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}
#logoIntro{
    position: absolute;
    max-width: 90%;
    width: 500px;
    transition: 150ms;
    opacity: 0;
    user-select: none;
    -webkit-user-drag: none;
}
#GitHub{
    position: absolute;
    width: 100px;
    top: 10px;
    right: 260px;
}

/* --- Responsywność --- */
@media (max-width: 1430px) {
    #bonusInfo{
        font-size: 20px !important;
    }
    #IntroTlo{
        height: 100%;
        width: 100%;
    }
    #IntroNapis{
        width: 80vh;
        height: auto;
    }
    #logoIntro{
        width: 40vh;
        height: auto;
    }
    body{
        width: 95%;
    }
    
    header{ 
        font-size: 60px;
        height: 100px; 
    }

    #logo, #zs10Logo, #muzyka, #GitHub{ 
        height: 80px;
        width: auto;
    }

    #muzyka{ 
        left: 100px;
    }
    
    #GitHub{
        right: 210px;
    }

    #strona{ 
        top: 110px;
    }
    
    #pole, #ulepszenia{ 
        width: 100%; 
        float: none; 
        border: none;
        height: auto;
    }
    #tresc, #legenda{
        font-size: 15px;
    }
    .pomoc{
        font-size: 18px;
    }

    #pole{
        height: 400px;
        border-bottom: 5px solid #0d0818;
    }
    
    #hud{
        padding-top: 5px;
    }

    #mnoznikHUD, #pomocnicy{
        position: static;
        width: 100%;
        text-align: center;
    }

    .guzik{
        width: 200px;
        height: 200px;
        font-size: 100%;
    }
    
    footer{
        font-size: 15px;
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    #legenda p img{
        float: left;
        width: 50px;
        height: 50px;
    }  
    #czasGry, #razem{
        position: static;
        transform: none;
        text-align: center;
        padding-top: 0.3%;
    }

    #bonus {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 1050px) {
    #bonusInfo{
        font-size: 15px !important;
    }
    header{ 
        font-size: 45px;
        height: 70px; 
    }

    #logo, #zs10Logo, #muzyka, #GitHub{ 
        height: 50px;
        width: auto;
    }

    #muzyka{ 
        left: 60px;
    }
    
    #GitHub{
        right: 140px;
    }

    #strona{ 
        top: 90px;
    }
}
@media (max-width: 670px) {
    #bonusInfo{
        font-size: 15px !important;
    }
    header{ 
        font-size: 30px;
        height: 50px; 
    }
    #IntroNapis{
        width: 40vh;
        height: auto;
    }
    #logo, #zs10Logo, #muzyka, #GitHub{ 
        height: 30px;
        width: auto;
    }

    #muzyka{ 
        left: 40px;
    }
    
    #GitHub{
        right: 90px;
    }

    #strona{ 
        top: 90px;
    }
}